/* Font style: Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Josefin Sans", "Noto Sans JP", Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  min-height: 100dvh;
}